.stats-cards {
    display: flex;
    gap: 16px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 30px;
}

.stat-card {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 18px;
    min-height: 140px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.8);
    transition: .3s;
}

.stat-card:hover {
    transform: translateY(-5px);
}

.stat-card h4 {
    color: #777;
    margin-bottom: 12px;
}

.stat-card h2 {
    font-size: 32px;
    font-weight: 700;
}

.balance h2 {
    color: #fff;
}

.income h2 {
    color: #22c55e;
}

.expense h2 {
    color: #ef4444;
}

@media (min-width:768px) {
    .stats-cards {
        display: flex;
        gap: 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .stat-card {
        width: 31%;
    }
}

@media (max-width:767px) {
    .stats-cards {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        box-sizing: border-box;
    }

    .stat-card {
        width: 100%;
        box-sizing: border-box;
        padding: 16px;
        margin: 0;
        border-radius: 20px;
    }

    .stat-card h4 {
        font-size: 14px;
        margin-bottom: 8pxx;
    }

    .stat-card h2 {
       font-size: 22px;
        line-height: 1.2;
        overflow-wrap: anywhere;
    }
}